    <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start">
        <div class='navbar-collapse collapse w-100' [ngClass]='{ "in": isExpanded }'>
            <ul class='flex-md-column flex-row navbar-nav w-100 justify-content-between'>
                <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                    <a class="nav-link pl-0" [routerLink]='["/"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li class="nav-item" [routerLinkActive]='["link-active"]'>
                    <a class="nav-link pl-0" [routerLink]='["/counter"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-education'></span> Counter
                    </a>
                </li>
                <li class="nav-item" [routerLinkActive]='["link-active"]'>
                    <a class="nav-link pl-0" [routerLink]='["/fetch-data"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-th-list'></span> Fetch data
                    </a>
                </li>
            </ul>
        </div>
    </nav>
